:root {
  --red: #ED6A5A;
  --yellow: #F4F1BB;
  --green: #9BC1BC;
  --blue: #5CA4A9;
  --beige: #E6EBE0;
  --grey: #808080;
  --light-grey: #C0C0C0;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.wrapper {
  display: flex;
  height: 100vh;
}

#app {
  display: flex;
  flex-flow: row;
  width: 100%;
}

.container {
  flex-grow: 1;
  overflow-y: auto;
  width: 50%;
}

.container header {
  background-color: white;
  border-bottom: 2px solid var(--grey);
  height: 2em;
  padding: 0.6em 0.6em;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.container .box:nth-child(2) {
  margin-top: 3.8em;
}

.box {
  background-color: var(--beige);
  outline: 1px solid var(--grey);
  display: flex;
  flex-flow: column;
  margin: 0.6em 0.6em;
}

.box-title {
  cursor: pointer;
  padding: 0.5em 0.5em 0 0.5em;
}

.box-item {
  padding: 0.2em 0.5em 0.5em 0.5em
}

.dropdown {
  background-color: white;
  outline: 1px solid var(--grey);
  width: 50%;
  z-index: 100;
}

.dropdown dl {
  margin: 0;
  cursor: pointer;
  padding: 0.5em;
}

.dropdown dl:hover {
  background-color: var(--light-grey);
}

.dropdown dl dt {
  width: 15%;
}

.dropdown dl dd {
  margin: 0;
  width: 80%;
}

.dropdown dl:first-child {
  margin-top: 1em;
}

.dropdown dt, .dropdown dd {
  display: inline-block;
}

.highlight {
  background-color: var(--yellow);
}

.project-toggle {
  cursor: pointer;
  font-size: 19px;
  height: 32px;
  margin-right: 0.2em;
  width: 30px;
}

.search-input {
  font-size: 16px;
  padding: 0.4em;
  width: 30em;
}

.tags {
  display: flex;
  flex-flow: row;
}

.tags > div {
  outline: 1px solid var(--grey);
  margin-right: 0.5em;
  padding: 0.5em;
}

.tags > div:hover {
  background-color: var(--beige);
  cursor: pointer;
}

.tags > div.selected {
  background-color: var(--beige);
}

.CodeMirror {
  border: 1px solid var(--red);
  height: auto;
  margin: 0;
}
